<?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="Nikhil Maheshwari"
taglineText="Software Developer + Front End Web Developer"
mainText="NEW SITE COMING SOON"

useOwnLogo="false"
logoFilePath=""

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0xff4400"
linkRollOverBlurAmount="5"

backgroundColor="0x000000"
backgroundGradientColor1="0xff4400"
backgroundGradientColor2="0x000000"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="10"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="2"

introBlurAmount="20"
siteRotation="0"

>

<link text="NIKHILMAHESHWARI46@YAHOO.IN" url="mailto:nikhilmaheshwari46@yahoo.in" />
<link text="DOWNLOAD MY RESUMÉ" url="http://nikzz.me/Resume.pdf" target="_blank" />
<link text="VISIT ME ON LINKEDIN" url="http://in.linkedin.com/pub/nikhil-maheshwari/63/312/19a/" target="_blank" />
	
</settings>